<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485521075345-iek5teom43tmq67ukcgh2svtflafuijc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485521075345-iek5teom43tmq67ukcgh2svtflafuijc</string>
	<key>API_KEY</key>
	<string>AIzaSyB31k_Zd_AkTJBXtvuEXeTP41EC71JaOoM</string>
	<key>GCM_SENDER_ID</key>
	<string>485521075345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yellow.Clib</string>
	<key>PROJECT_ID</key>
	<string>clib-c5522</string>
	<key>STORAGE_BUCKET</key>
	<string>clib-c5522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485521075345:ios:6560462ea7e60828b92330</string>
	<key>DATABASE_URL</key>
	<string>https://clib-c5522.firebaseio.com</string>
</dict>
</plist>